* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --Mainpage: #f0f2f5;
  --Navigationicons: #5f5f5f;
  --text: #000000;
  --top-searchbar: #ffffff;
  --Profile-Icon: #dadada;
  --background-hover: rgba(218, 218, 218, 0.7);
}

/* main container */
.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--Mainpage);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

/* image/svg */
.svg {
  width: 30px;
  height: 30px;
}

.svg img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 100rem;
}

.side-bar {
  width: 8%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}

.icon-container {
  width: 100%;
  height: fit-content;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 2rem;
}
.icons span {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;

  border-radius: 1rem;
  cursor: pointer;
}
.icons :hover {
  background-color: var(--background-hover);
}

/* settings icon */
.lower {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lower :hover {
  background-color: var(--background-hover);
}
/* top container */

.topbar-container {
  width: 100%;
  height: fit-content;
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-radius: 0;
}

.search-container {
  width: 90%;
  height: fit-content;
}

.search-container input {
  width: 100%;
  height: fit-content;
  border: 2px solid black;
  padding: 0.7rem;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
}

.search-container input :hover {
  background-color: var(--background-hover);
}

/* a container */
.profile {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}

.dropdown {
  cursor: pointer;
}

.main-bar {
  width: 92%;
  height: 100%;
  background-color: var(--Mainpage);
  display: flex;
  flex-direction: column;
}

.picture {
  width: 100%;
  height: fit-content;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture img {
  width: 99%;
  height: 100%;
}
